*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:#f4f4f4;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:500px;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

h1{
    text-align:center;
    margin-bottom:20px;
}

.input-section{
    display:flex;
    flex-direction:column;
    gap:10px;
}

input{
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

button{
    padding:10px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

button:hover{
    opacity:0.9;
}

.summary{
    margin:20px 0;
}

#expense-list{
    list-style:none;
}

#expense-list li{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px;
    margin-bottom:10px;
    border:1px solid #ddd;
    border-radius:8px;
}